
.container{
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 4px solid var(--bgc-d);
    margin: 10px;
    padding: 10px;
}
.container > div > button {
    all: unset;
    margin:10px 0;
    padding:5px 10px;
    font-weight: 700;
    border: 4px solid var(--bgc-d);
    border-radius: 10px;
    color: var(--bgc-d);
    background-color: var(--bgc);
    margin:0 3px;
}
.container > div > button > a {
    color:var(--bgc-d);
    font-weight: 700;
}
.container > div > button:hover > a {
    color:var(--bgc);
}
.container > div > button:hover {
    color:var(--bgc);
    background-color: var(--bgc-d);
}
.container > div > button > a {
    margin : 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.container > h3 {
    color:var(--bgc-d);
    margin:0;
    max-height:56;
    width:100%;
    overflow: hidden;
}