.container{
    min-height:100vh;
    width:100%;
    background-color: var(--bgc);
    margin:0;
    padding:0;
    padding-top: 60px;
}
.container > p {
    position: absolute;
    top:60px;
    left: 20px;
    color: var(--bgc-d);
    font-size: larger;
    font-weight:800;
}
.container > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.container > div > h1 {
    margin-left:45%;
    color:var(--bgc-d);
}
.container > p {
    background-color: var(--bgc);   
}
.container > div:nth-child(1) {

}