.content{
  background-image: url("crudbackground.png");
  height : 100vh;
  width : 100%;
  background-size: cover;
  background-position: center;
}

.content>a>button{
  background-color: black;
  color:white;
  padding:10px;
  font-weight: 600;
  border-radius: 10px;

}